APP_PORT=8002

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=psikotest-23-02-11
DB_USERNAME=root
DB_PASSWORD=

STUDI_V2_DB_CONNECTION=mysql
STUDI_V2_DB_HOST=127.0.0.1
STUDI_V2_DB_PORT=3306
STUDI_V2_DB_DATABASE=psikotest-studi
STUDI_V2_DB_USERNAME=root
STUDI_V2_DB_PASSWORD=

SKOLASTIK_DB_CONNECTION=mysql
SKOLASTIK_DB_HOST=127.0.0.1
SKOLASTIK_DB_PORT=3306
SKOLASTIK_DB_DATABASE=psikotest-skolastik
SKOLASTIK_DB_USERNAME=root
SKOLASTIK_DB_PASSWORD=

JWT_SECRET=secret_code
COOKIE_TOKEN=cookie_secret_code

API_VERSION=v2

BASE_URL_FILES=http://localhost:8002/
# JWT_ALGO=HS256